body{
    background-image: url("Fabrica.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
header{  
    color: white;
    height: 10%;
}
h1 {
    padding-top: 10px;
   text-align: center; 
   color: rgb(13, 17, 243);
}
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}
Nav li {
    display: inline;
    margin-left: 10em;
}
ul a {
    color: rgb(229, 245, 10);
    list-style-type: none;
    margin: 0;
    padding: 0;
}
button {
    margin-top: 90%;
    margin-left: 90%;
}
footer {
    color: rgb(14, 13, 13);
}